/* 
    Options Positions Controlling Stylesheet

    Notice:
    
    a. This Stylesheet is for managing DIFFERENT positions of options
        on each node.
    b. Be careful reading the button number before doing any edits.

    c. Naming protocool
        -"#op001" means "n001"'s option
        -"#op002a" "#op002b" mean "n002"'s first and second options

 */

inkd-button#op000 {
        top: 22em;
    }

inkd-button#op001a {
        top: 7em;
    }

inkd-button#op001b {
        top: 7em;
    }

inkd-button#op002 {
        top: 3em;
    }

inkd-button#op003 {
        top: 12em;
    }

inkd-button#op004a {
        top: 2.5em;
    }

inkd-button#op004b {
        top: 2.5em;
    }

inkd-button#op005 {
        top: 20em;
    }

inkd-button#op006 {
        top: 10em;
    }

inkd-button#op007 {
        top: 10em;
    }

inkd-button#op008 {
        top: 4em;
    }

inkd-button#op009 {
        top: 12em;
    }

inkd-button#op010 {
        top: 12em;
    }

inkd-button#op011a {
        top: 12em;
    }

inkd-button#op011b {
        top: 12em;
    }

inkd-button#op012 {
        top: 1.5em;
    }

inkd-button#op013 {
        top: 17em;
    }

inkd-button#op014 {
        top: 5em;
    }

inkd-button#op015 {
        top: 3em;
    }

inkd-button#op016 {
        top: 10em;
    }

inkd-button#op017 {
        top: 11em;
    }

inkd-button#op018 {
        top: 14em;
    }

inkd-button#op019 {
        top: 14em;
    }

inkd-button#op020 {
        top: 3em;
    }

inkd-button#op021 {
        top: 14em;
    }

inkd-button#op022 {
        top: 20em;
    }

inkd-button#op023 {
        top: 8em;
    }

inkd-button#op024a {
        top: 13em;
    }

inkd-button#op024b {
        top: 13em;
    }

inkd-button#op025 {
        top: 7em;
    }

inkd-button#op026 {
        top: 18em;
    }

inkd-button#op027 {
        top: 2.5em;
    }

inkd-button#op028 {
        top: 3em;
    }

inkd-button#op029 {
        top: 15em;
    }

inkd-button#op030 {
        top: 11.5em;
    }

inkd-button#op031 {
        top: 14em;
    }

inkd-button#op032 {
        top: 11.5em;
    }

inkd-button#op033 {
        top: 22em;
    }

inkd-button#op034 {
        top: 5em;
    }

inkd-button#op035 {
        top: 8em;
    }
