/* 
    Options Positions Controlling Stylesheet

    Notice:
    
    a. This Stylesheet is for managing DIFFERENT positions of options
        on each node.
    b. Be careful reading the button number before doing any edits.

    c. Naming protocool
        -"#op001" means "n001"'s option
        -"#op002a" "#op002b" mean "n002"'s first and second options

 */

inkd-button#op000 {
    top: 22em;
}

inkd-button#op001a {
    top: 7em;
}

inkd-button#op001b {
    top: 7em;
}

inkd-button#op002 {
    top: 3em;
}

inkd-button#op003 {
    top: 12em;
}

inkd-button#op004a {
    top: 2.5em;
}

inkd-button#op004b {
    top: 2.5em;
}

inkd-button#op005 {
    top: 20em;
}

inkd-button#op006 {
    top: 10em;
}

inkd-button#op007 {
    top: 10em;
}

inkd-button#op008 {
    top: 4em;
}

inkd-button#op009 {
    top: 12em;
}

inkd-button#op010 {
    top: 12em;
}

inkd-button#op011a {
    top: 10em;
}

inkd-button#op011b {
    top: 10em;
}

inkd-button#op012 {
    top: 1.5em;
}

inkd-button#op013 {
    top: 17em;
}

inkd-button#op014 {
    top: 5em;
}

inkd-button#op015 {
    top: 3em;
}

inkd-button#op016 {
    top: 10em;
}

inkd-button#op017 {
    top: 11em;
}

inkd-button#op018 {
    top: 14em;
}

inkd-button#op019 {
    top: 14em;
}

inkd-button#op020 {
    top: 3em;
}

inkd-button#op021 {
    top: 14em;
}

inkd-button#op022 {
    top: 20em;
}

inkd-button#op023 {
    top: 8em;
}

inkd-button#op024a {
    top: 13em;
}

inkd-button#op024b {
    top: 13em;
}

inkd-button#op025 {
    top: 7em;
}

inkd-button#op026 {
    top: 18em;
}

inkd-button#op027 {
    top: 2.5em;
}

inkd-button#op028 {
    top: 3em;
}

inkd-button#op029 {
    top: 15em;
}

inkd-button#op030 {
    top: 11.5em;
}

inkd-button#op031 {
    top: 14em;
}

inkd-button#op032 {
    top: 11.5em;
}

inkd-button#op033 {
    top: 22em;
}

inkd-button#op034 {
    top: 5em;
}

inkd-button#op035 {
    top: 8em;
}

inkd-button#op036a {
    top: 1em;
}

inkd-button#op036b {
    top: 1em;
}

inkd-button#op037a {
    top: 3em;
}

inkd-button#op037b {
    top: 3em;
}

inkd-button#op038a {
    top: 12em;
}

inkd-button#op038b {
    top: 12em;
}

inkd-button#op039 {
    top: 0em;
}

inkd-button#op040 {
    top: 15em;
}

inkd-button#op041 {
    top: 2.5em;
}

inkd-button#op042 {
    top: 2.5em;
}

inkd-button#op043 {
    top: 7em;
}

inkd-button#op044 {
    top: 14em;
}

inkd-button#op045 {
    top: 8em;
}

inkd-button#op046 {
    top: 5em;
}

inkd-button#op047 {
    top: 0em;
}

inkd-button#op048 {
    top: 3em;
}

inkd-button#op049 {
    top: 19em;
}

inkd-button#op050 {
    top: 21em;
}

inkd-button#op051 {
    top: 7em;
}

inkd-button#op052 {
    top: 14em;
}

inkd-button#op053 {
    top: 11em;
}

inkd-button#op054 {
    top: 6em;
}

inkd-button#op055 {
    top: 18em;
}

inkd-button#op056 {
    top: 2em;
}

inkd-button#op057 {
    top: 10em;
}

inkd-button#op058 {
    top: 1em;
}

inkd-button#op059 {
    top: 8em;
}

inkd-button#op060a {
    top: 10em;
}

inkd-button#op060b {
    top: 10em;
}

inkd-button#op061 {
    top: 3em;
}

inkd-button#op062 {
    top: 14.5em;
    height: 3.2em;
}

inkd-button#op062:hover {
    height: 3em;
}

inkd-button#op063 {
    top: 3em;
}

inkd-button#op064 {
    top: 14em;
    height: 3.2em;
}

inkd-button#op064:hover {
    height: 3em;
}

inkd-button#op065 {
    top: 4em;
}

inkd-button#op066a {
    top: 12em;
}

inkd-button#op066b {
    top: 12em;
}

inkd-button#op067 {
    top: 3em;
}

inkd-button#op068 {
    top: 16.5em;
}

inkd-button#op069 {
    top: 3em;
}

inkd-button#op070a {
    top: 18.5em;
}

inkd-button#op070b {
    top: 18.5em;
}

inkd-button#op071 {
    top: 8em;
}

inkd-button#op072a {
    top: 11em;
}

inkd-button#op072b {
    top: 11em;
}

inkd-button#op073 {
    top: 5em;
}

inkd-button#op074a {
    top: 17em;
}

inkd-button#op074b {
    top: 17em;
}

inkd-button#op075 {
    top: 14em;
}

inkd-button#op076 {
    top: 9em;
}

inkd-button#op077a {
    top: 16em;
}

inkd-button#op077b {
    top: 16em;
}

inkd-button#op078a {
    top: 12em;
}

inkd-button#op078b {
    top: 12em;
}

inkd-button#op079 {
    top: 13em;
}

inkd-button#op080 {
    top: 18em;
}

inkd-button#op081 {
    top: 1em;
}

inkd-button#op082 {
    top: 1.5em;
}

inkd-button#op083 {
    top: 20em;
}

inkd-button#op084 {
    top: 21em;
}

inkd-button#op085 {
    top: 10em;
    height: 3.2em;
}
inkd-button#op085:hover {
    height: 3em;
}

inkd-button#op086a {
    top: 6em;
}

inkd-button#op086b {
    top: 6em;
}

inkd-button#op087 {
    top: 5em;
}

inkd-button#op088 {
    top: 19em;
}

inkd-button#op089 {
    top: 7em;
}

inkd-button#op090a {
    top: 8em;
}

inkd-button#op090b {
    top: 8em;
}

inkd-button#op091 {
    top: 3em;
}

inkd-button#op092a {
    top: .5em;
}

inkd-button#op092b {
    top: .5em;
}

inkd-button#op093 {
    top: 9em;
}

inkd-button#op094 {
    top: .5em;
}

inkd-button#op095 {
    top: 8em;
}

inkd-button#op096 {
    top: 4em;
}

inkd-button#op097 {
    top: 4em;
}

inkd-button#op098 {
    top: .5em;
}

inkd-button#op099 {
    top: 6.5em;
}

inkd-button#op100a {
    top: 9em;
}

inkd-button#op100b {
    top: 9em;
}

inkd-button#op101 {
    top: 7em;
    height: 3.2em;
}

inkd-button#op101:hover {
    height: 3em;
}

inkd-button#op102 {
    top: 5em;
}

inkd-button#op103 {
    top: 5em;
}

inkd-button#op104 {
    top: 4em;
}

inkd-button#op105 {
    top: 8em;
}

inkd-button#op106 {
    top: 3.5em;
}

inkd-button#op107a {
    top: 4em;
}

inkd-button#op107b {
    top: 4em;
}

inkd-button#op108 {
    top: 0em;
}

inkd-button#op109 {
    top: 0em;
}

inkd-button#op110 {
    top: 0em;
}

inkd-button#op111a {
    top: 6em;
}

inkd-button#op111b {
    top: 6em;
}

inkd-button#op112 {
    top: 3em;
}

inkd-button#op113 {
    top: 3.5em;
}

inkd-button#op114 {
    top: 0em;
    height: 1.4em;
}

inkd-button#op115 {
    top: 5em;
}

inkd-button#op116 {
    top: 21em;
}

inkd-button#op117a {
    top: 8em;
}

inkd-button#op117b {
    top: 8em;
}

inkd-button#op118 {
    top: 0em;
}

inkd-button#op119 {
    top: 14em;
}

inkd-button#op120 {
    top: 12em;
}

inkd-button#op121 {
    top: 1em;
}

inkd-button#op122 {
    top: 8em;
}

inkd-button#op123 {
    top: 3em;
}

inkd-button#op124 {
    top: 6em;
}

inkd-button#op125 {
    top: 0em;
}

inkd-button#op126 {
    top: 19em;
}

inkd-button#op127 {
    top: 11em;
}

inkd-button#op128 {
    top: 1em;
}

inkd-button#op129 {
    top: 2em;
}

inkd-button#op130 {
    top: 10em;
}

inkd-button#op131 {
    top: 7em;
}

inkd-button#op132 {
    top: 12em;
}

inkd-button#op133 {
    top: 2em;
}

inkd-button#op134 {
    top: 2.5em;
}

inkd-button#op135 {
    top: 10em;
}

inkd-button#op136 {
    top: 0em;
}

inkd-button#op137 {
    top: 2em;
}

inkd-button#op138 {
    top: 3.5em;
}

inkd-button#op139 {
    top: 2em;
}

inkd-button#op140 {
    top: 2em;
}

inkd-button#op141 {
    top: 3.5em;
}

inkd-button#op142 {
    top: 3em;
}

inkd-button#op143 {
    top: 0em;
}

inkd-button#op144 {
    top: 13em;
}

inkd-button#op145 {
    top: 3em;
}

inkd-button#op146 {
    top: 6em;
}

inkd-button#op147 {
    top: 3em;
}

inkd-button#op148 {
    top: 5em;
}

inkd-button#op149 {
    top: 6em;
}

inkd-button#op150 {
    top: 0em;
}
